export(asGraphical)
export(asHierarchical)
export(glmbb)
export(isGraphical)
export(isHierarchical)
export(tidy.formula.hierarchical)
S3method(print, summary.glmbb)
S3method(summary, glmbb)
importFrom(stats, lm, glm, terms, terms.formula, model.response)
importFrom(stats, AIC, BIC, as.formula, poisson, update)
importFrom(digest, digest)
